---
import { getTagCounts } from '../utils/posts';

const tagCounts = await getTagCounts();
---

<div class="tag-cloud">
  {[...tagCounts.entries()].map(([tag, count]) => (
    <span class="tag-cloud-item">
      <a href={`/tags/${tag}`} class="tag">#{tag}</a>
      <span class="tag-count">({count})</span>
    </span>
  ))}
</div>
